Flashcards App

<%= @round.deck_id %>

<p>
  You've completed a round of <%= @round.deck_id %>!
</p>

<p>
  You answered <%= @round.first_guesses %>/ <%= @deck.cards.count %> on the first try.
</p>

<p>
  You submitted <%= @round.total_guesses %> total guesses before each card was answered correctly.
</p>
